- year = @incomes.keys.first
.col_8
  %h1
    =link_to '←', finances_path(year: "#{year-1}-01-01")
    Фин.статистика за #{year}г.
    = link_to '→', finances_path(year: "#{year+1}-01-01") if year < Date.today.year

  = column_chart [{name: 'Пополнения', data:@incomes[year].map{|k,v| [t('date.inf_month_names')[k], v[:total].round(0)]}},
                  {name: 'Доходы', data:@earnings[year].map{|k,v| [t('date.inf_month_names')[k], v[:total].round(0)]}}]

  = render 'table', data: @incomes, type: :incomes, caption: 'Пополнения'

  = render 'table', data: @earnings, type: :earnings, caption: 'Доход'