<!DOCTYPE html>
%html
  %head
    %meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  %body
    %h1= "Welcome to ogromno, #{@user.name}"
    %p= "You have successfully signed up to ogromno.ru,
      your username is: #{@user.name}"
    %p= "Подтвердите вашу почту, пройдя по ссылке #{@url}"
    %p Thanks for joining and have a great day!