%h1 Listing admin_salon_procedures

%table
  %tr
    %th Name
    %th Duration
    %th Price
    %th Comment
    %th Group
    %th
    %th
    %th

  - @admin_salon_procedures.each do |admin_salon_procedure|
    %tr
      %td= admin_salon_procedure.name
      %td= admin_salon_procedure.duration
      %td= admin_salon_procedure.price
      %td= admin_salon_procedure.comment
      %td= admin_salon_procedure.group
      %td= link_to 'Show', admin_salon_procedure
      %td= link_to 'Edit', edit_admin_salon_procedure_path(admin_salon_procedure)
      %td= link_to 'Destroy', admin_salon_procedure, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Procedure', new_admin_salon_procedure_path
