= form_for @point do |f|
  - if @point.errors.any?
    #error_explanation
      %h2= "#{pluralize(@point.errors.count, "error")} prohibited this distribution_center from being saved:"
      %ul
        - @point.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title, t('.title')
    = f.text_field :title

  .field
    = f.label :head_name, t('.head_user')
    = f.text_field :head_name, data: {autocomplete_source: find_users_path}

  .field
    = f.label :employees_names, t('.employees')
    = f.text_field :employees_names, data: {autocomplete_source: find_users_path}

  .field
    = f.label :default_day_package_limit, t('.default_package_limit')
    = f.text_field :default_day_package_limit, size: 1

  %fieldset
    %legend Адрес
    = f.fields_for @point.address do |builder|
      = render 'addresses/fields', f: builder

  .field
    = f.label :work_schedule, t('.work_schedule')
    = f.text_area :work_schedule, cols: 20, rows:7

  .field
    = f.label :phone, t('.comment')
    = f.phone_field :phone

  .actions
    = f.submit 'Создать ЦР'
