= form_for(:point, url: @point) do |form|
  - if point.errors.any?
    #error_explanation
      %h2= "#{pluralize(point.errors.count, "error")} prohibited this distribution_center from being saved:"
      %ul
        - point.errors.full_messages.each do |msg|
          %li= msg
  .field
    = form.label :title, t('.title')
    = form.text_field :title

  .field
    = form.label :phone, t('.phone')
    = form.phone_field :phone

  .field
    = form.label :head_user, t('.head_user')
    = form.text_field :head_user, data: {autocomplete_source: find_users_by_name_path}

  .field
    = form.label :employee_ids, t('.employees')
    = form.hidden_field :employee_ids, data: {autocomplete_source: find_users_by_name_path}

  .field
    = form.label :default_day_package_limit, t('.default_package_limit')
    = form.text_field :default_day_package_limit, size: 2

  .field
    = form.label :repeat_schedule, t('.work_schedule')
    = form.number_field :repeat_schedule, in: 0..4, step:1
    = form.label :repeat_schedule, t('.week')

  = render @point, form: form rescue nil #TODO сделать нормально через проверку существования шаблона(сходу не получилось)

  .actions
    = form.submit 'Создать ЦР'