%h3 Выдача записи
= javascipt 'distribution/recipient_form'
= render 'distribution/shared/tab_menu', point: @point, active: 'issue_package'

.tab-content
  = form_tag distribution_point_issue_package_path, method: :get do
    = label_tag :data_type, 'Ввод:'

    = radio_button_tag :data_type, :document, true
    = label_tag :data_type_document, 'Документ'

    = radio_button_tag :data_type, :id
    = label_tag :data_type_id, 'Пользователь'

    .field
      = text_field_tag :user_data


    .actions
      = submit_tag t('common.find')