- javascript 'distribution/collect_package'
.col_10
  %h3 Сборка

  = form_tag
  = hidden_field_tag :collected_items
  .field
    = label_tag :collector, 'Сборщик'
    = select_tag :package_list, options_from_collection_for_select(@employees, :id, :display_name, @last), class: 'chzn-select', style: 'width:250px'

  .field
    = render 'package_choose', point: @point, list: @list, distributing_lists: @point.package_lists.collecting.joins{schedule}.order{schedule.date}, states: :collecting

  .field
    = label_tag :number, 'Номер'
    = text_field_tag :number

  .actions
    = submit_tag 'Заказ собран', disabled: 'disabled'