- javascript 'distribution/issue_package'
%h3 Выдача записи
= render 'distribution/shared/tab_menu', point: @point, active: 'issue_package'

.tab-content
  %ul
    - @items_hash.each do |user, packages|
      %li
        %h5 Пользователь #{User.find(user).display_name}
        %ul
          - packages.each do |package_key, items|
            %li
              - if (package_key.is_a?(Symbol))
                - unless items.empty?
                  %h6= package_key == :later ? 'Отложенные' : 'Новые'
              - else
                - package = Distribution::Package.find(package_key)
                %h6 Запись №#{package.code} от #{Russian::strftime package.package_list.date, '%d.%m.%y'}
            %ul.icons
              - items.each do |item|
                %li
                  %i.icon-remove.icon-large
                  - if item.barcode
                    = hidden_field_tag 'item_id[]', item.id, data: {barcode: item.barcode.barcode_string}
                  -else
                    %span.red.bigger-font Без штрих-кода!
                  %span.bigger-font= item.organizer + ' - '
                  %span{class: 'tooltip', title: item.title}= truncate(CGI.unescapeHTML(item.title), length: 45, omission: '...')
              - if items.empty? && !package_key.is_a?(Symbol)
                %li Нет заказов со штрихкодом по этой записи
  = form_tag do
    = label_tag :barcode, 'Введите штрих-код:'
    = text_field_tag :barcode, nil, autofocus: true
    - @items_hash.each_value do |packages|
      - packages.each_key do |package_id|
        = hidden_field_tag 'packages[]', package_id if package_id.is_a? Integer
    #issued_items
    .actions
      = submit_tag t('distribution.package.events.to_issued'), id:'issue_package', confirm: 'Вы уверены, что хотите изменить статус заказа на выданный?'