= javascript 'distribution/reception'

.col_10
  %h3 Поступление
  = form_tag distribution_point_process_reception_path do
    = label_tag :barcode, 'Введите штрихкод'
    = text_field_tag :barcode, nil,  autofocus: true
    %hr
    %h5{style:'padding:8px'}
      Количество позиций в списке:
      %span#count-items 0

    %table#reception_list
      %thead
        %th Получатель
        %th Штрихкод
        %th Организатор
        %th Закупка
      %tbody

    %hr
    .field
      = label_tag :recieved_from, 'Получено от '
      = text_field_tag :recieved_from, nil, required: true

    .field
      = label_tag :receiver, 'Приемщик '
      = text_field_tag :receiver, nil, required: true

    %fieldset
      %legend Не соответствует правилам:
      .field
        = check_box_tag 'no_conform[]', Distribution::PackageItem::NOT_CONFORM_HASH[:packaging]
        = label_tag :no_conform_1, 'Упаковка'
      .field
        = check_box_tag 'no_conform[]', Distribution::PackageItem::NOT_CONFORM_HASH[:marking]
        = label_tag :no_conform_2, 'Маркировка'

    .actions
      = submit_tag 'Принять товар'
#dialog