= form_for @user, url: user_set_new_password_path do |f|
  .field
    = f.label :password
    = f.text_field :password

  .hidden
    = f.hidden_field :verification_code, value: @verification_code

  .actions
    = f.submit 'Set new password'