%fieldset
  = f.label :from, 'С'
  = f.time_select :from, minute_step: 15

  = f.label :till, 'до'
  = f.time_select :till, minute_step: 15

  = f.label :meeting_place_id, 'Место выдачи'
  = f.select :meeting_place_id, @meeting_places_options

  = f.hidden_field :_destroy
  = link_to 'Удалить', '#', class: 'remove_fields'