- package_limit = list.package_limit
- limitable_packages = list.packages.not_case.count
- total_packages = list.packages.count
- cases = total_packages - limitable_packages
%tr{id: list.id}
  %td=list.date
  %td
    = t('distribution.package_lists.states.' + list.state)
    - possible_events = list.state_events
    - if possible_events.size > 1
      = select_tag 'new-state', options_from_collection_for_select(possible_events, 'to_s', 'to_s')
    - elsif possible_events.size == 1
      - new_state = possible_events.first.to_s
      = link_to t('distribution.package_lists.events.' + new_state), distribution_point_fire_package_list_event_path(point,list,new_state),
                confirm: 'Вы уверены, что хотите перевести ведомость в следующую стадию?',
                remote: true,
                method: :put
  %td
    = progressbar package_limit, limitable_packages,
                  size: 100,
                  hint: t('common.hints.percentage_tooltip', part: limitable_packages, whole: package_limit) + '. ' + t('common.hints.case_tooltip', cases: cases)
  %td
    - number_of_collected_packages = list.packages.where(:state.nin => [:accepted, :collecting]).count
    = progressbar total_packages, number_of_collected_packages,
                  size: 100,
                  hint: t('common.hints.percentage_tooltip', part: number_of_collected_packages, whole:total_packages),
                  color: 'blue'
  %td
    - number_of_issued_packages = list.packages.where(:state.in => Distribution::Package::FINAL_STATES).count
    = progressbar total_packages, number_of_issued_packages,
                  size: 100,
                  hint: t('common.hints.percentage_tooltip', part: number_of_issued_packages, whole:total_packages),
                  color: 'green'
  %td
    = select_tag 'action_on_' + list.id, options_for_select([ ['(Выберите действие)', ''],
                                                              ['Распечатать ведомости', 1, {class: 'pdf', source: distribution_point_package_list_package_list_path(point, list)}],
                                                              ['Распечатать упаковочные листы', 2, {class: 'pdf', source: distribution_point_package_list_packing_lists_path(point, list)}]]), class: 'actions'

