%footer
  #footer-wrapper
    %ul.no-padding.no-margin
      %li= image_tag 'fl_icon.png'
      %li= link_to 'Контакты', main_app.contacts_path
      %li= link_to 'Реклама на сайте',  main_app.advertisment_path
      -#%li= link_to 'Карта сайта', '#'
    %ul
      %li= image_tag 'fc_icon.png'
      %li= link_to 'Правила', 'http://ogromno.com/index.php?showforum=79'
      -#%li= link_to 'Помощь', '#'
      -#%li= link_to 'Пользовательское соглашение', agreement_path
      -#%li= link_to 'Публичная оферта', offer_path
    %ul
      %li= image_tag 'fm_icon.png'
      %li Звоните нам: (922) 022-73-73

<a href="http://metrika.yandex.ru/stat/?id=188063&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/188063/3_1_EFD55BFF_CFB53BFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"></a>
<a href="http://www.liveinternet.ru/click" target="_blank"><img src="http://counter.yadro.ru/logo?22.16" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня" alt="" border="0" width="88" height="31"></a>

