%footer
  #footer-wrapper
    %ul.no-padding
      %li= image_tag 'fl_icon.png'
      %li= link_to 'Контакты', '#'
      %li= link_to 'Реклама на сайте', '#'
      %li= link_to 'Карта сайта', '#'
    %ul
      %li= image_tag 'fc_icon.png'
      %li= link_to 'Правила', '#'
      %li= link_to 'Помощь', '#'
      %li= link_to 'Пользовательское соглашение', '#'
      %li= link_to 'Публичная оферта', '#'
    %ul
      %li= image_tag 'fm_icon.png'
      %li Звоните нам: (922) 022-73-73



