%footer
  #footer-wrapper
    %ul.no-padding.no-margin
      %li= image_tag 'fl_icon.png'
      %li= link_to 'Контакты', contacts_path
      %li= link_to 'Реклама на сайте',  advertisment_path
      -#%li= link_to 'Карта сайта', '#'
    %ul
      %li= image_tag 'fc_icon.png'
      %li= link_to 'Правила', 'http://ogromno.com/index.php?showforum=79'
      -#%li= link_to 'Помощь', '#'
      -#%li= link_to 'Пользовательское соглашение', agreement_path
      -#%li= link_to 'Публичная оферта', offer_path
    %ul
      %li= image_tag 'fm_icon.png'
      %li Звоните нам: (922) 022-73-73



