%header
  #up-header
    %ul
      %li= link_to 'Админка ЦР', distribution_points_path if can? :view_list, Distribution::Point
      %li= link_to 'Помощь', 'http://ogromno.com/index.php?showforum=84'
      %li= link_to 'Доставка', 'http://ogromno.com/index.php?showtopic=36684'
      %li= link_to 'Оплата', 'http://ogromno.com/index.php?act=zak&CODE=04'
      %li= link_to 'Центр раздач', 'http://ogromno.com/index.php?showforum=325'
      %li= link_to 'Контакты', contacts_path
  #middle-header
    #middle-header-wrapper
      #logo= show_logo
      #search-input-div
        = form_tag '/search', method: :get do
          = text_field_tag 'search', nil,  id: 'search-input', placeholder: 'Поиск по товарам и магазинам'
          = submit_tag 'nil', style: 'display:none'
      #login
        - if current_user
          %p
          = 'Вы вошли как ' + current_user.display_name + '.'
          %br
          = link_to('Выйти?', logout_path)
        -else
          %p
          = link_to('Войти', login_path) + ' или '
          %br
          = link_to('зарегистрироваться', signup_path)
      - if current_user.present?
        #notification-icon
          - new_notifications_counter = current_user.notifications.count{|n| not(n.read?)}
          = link_to user_notifications_path(current_user, unread: true), title: "Уведомления(#{new_notifications_counter} #{Russian::pluralize new_notifications_counter, 'новое', 'новых', 'новых'})", remote: true do
            %i.icon-3x{class: (new_notifications_counter > 0 ? 'icon-bell-alt' : 'icon-bell' )}
            - if new_notifications_counter > 0
              %span= new_notifications_counter
