%header
  #up-header
    %ul
      %li= link_to 'Помощь', '#'
      %li= link_to 'Как сделать заказ', '#'
      %li= link_to 'Доставка', '#'
      %li= link_to 'Оплата', '#'
      %li= link_to 'Центр раздач', '#'
      %li= link_to 'Контакты', '#'
  #middle-header
    #middle-header-wrapper
      #logo= show_logo
      #search-input-div
        %input{:type=>'text', :name => 'search-input', :id => 'search-input', :placeholder=> 'Поиск по товарам и магазинам' }
      #login
        - if user_signed_in?
          %p Вы вошли как
          = current_user.username + '.'
          = link_to('Выйти?', destroy_user_session_path, :method => :delete)
        -else
          %p Привет!
          = link_to('Войти', new_user_session_path) + ' или '
          = link_to('зарегистрироваться', new_user_registration_path)
      #cgp-logo= link_to image_tag('logo_cgp.png'), 'http://info-torg.ru/?page=ogromno&city=343'

