%header
  #up-header
    %ul
      %li= link_to 'Помощь', '#'
      %li= link_to 'Как сделать заказ', '#'
      %li= link_to 'Доставка', '#'
      %li= link_to 'Оплата', '#'
      %li= link_to 'Центр раздач', '#'
      %li= link_to 'Контакты', '#'
  #middle-header
    #middle-header-wrapper
      #logo= show_logo
      #search-input-div
        %input{:type=>'text', :name => 'search-input', :id => 'search-input', :placeholder=> 'Поиск по товарам и магазинам' }
      #login
        - if current_user
          %p Вы вошли как
          = current_user.name + '.'
          = link_to('Выйти?', logout_path)
        -else
          %p Привет!
          = link_to('Войти', login_path) + ' или '
          = link_to('зарегистрироваться', signup_path)
      #cgp-logo= link_to image_tag('logo_cgp.png'), 'http://info-torg.ru/?page=ogromno&city=343'

