%header
  #up-header
    %ul
      %li= link_to 'Админка ЦР', distribution_points_path if can? :view_list, Distribution::Point
      %li= link_to 'Помощь', 'http://ogromno.com/index.php?showforum=84'
      -#%li= link_to 'Как сделать заказ', '#'
      %li= link_to 'Доставка', 'http://ogromno.com/index.php?showtopic=36684'
      %li= link_to 'Оплата', 'http://ogromno.com/index.php?act=zak&CODE=04'
      %li= link_to 'Центр раздач', 'http://ogromno.com/index.php?showforum=325'
      %li= link_to 'Контакты', contacts_path
  #middle-header
    #middle-header-wrapper
      #logo= show_logo
      #search-input-div
        = form_tag '/search', method: :get do
          = text_field_tag 'search', nil,  id: 'search-input', placeholder: 'Поиск по товарам и магазинам'
          = submit_tag 'nil', style: 'display:none'
      #login
        - if current_user
          %p
          = 'Вы вошли как ' + current_user.display_name + '.'
          %br
          = link_to('Выйти?', logout_path)
        -else
          %p
          = link_to('Войти', login_path) + ' или '
          %br
          = link_to('зарегистрироваться', 'http://ogromno.com/index.php?act=Reg&CODE=00')
      #cgp-logo= link_to image_tag('logo_cgp.png'), 'http://info-torg.ru/?page=ogromno&city=343'

