= form_for @record do |f|
  - if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  %ul#procedures
    - @procedures.each do |procedure|
      %li{:id => procedure.id}
        = check_box_tag 'record[procedures][]', procedure.id, false, data: { :duration => procedure.duration.to_s }
        = label_tag 'record[procedures]' do
          = procedure.name
          %span= procedure.duration.to_s

  %p= t('record.record_date')
  .field
    = f.radio_button :record_date, Date.today + 1.day
    = f.label 'record_date_' + (Date.today + 1.day).to_s, t('tommorow')
    = f.radio_button :record_date, Date.today + 1.day
    = f.label 'record_date_' + (Date.today + 1.day).to_s, t('day_after_tommorow')
    = f.radio_button :record_date, Date.today + 2.days
    = f.label 'record_date_' + (Date.today + 2.days).to_s, t('other_day')

  %p= t('record.employee')
  %ul#employees
    %li
      = f.radio_button :employee, 'any', checked:true
      = f.label :employee, "Любой мастер"
    - @employees.each do |employee|
      %li
        = f.radio_button :employee, employee.id, {}
        = f.label :employee do
          = employee.first_name
          %span= employee.position

  %ul#avaliable_time
    - @time_range.each do |time|
      - clock_time = Russian::strftime(time, '%H:%M')
      %li{class: "time_#{Russian::strftime(time, '%H%M')}"}
        = radio_button_tag "time", clock_time, false, disabled: true
        = label_tag "time_#{clock_time}", clock_time, :class => 'disabled'
  .hidden
    = hidden_field_tag 'record[group]', @group
    = hidden_field_tag 'record[full_time]'
  .actions
    = f.submit 'Save'
