%h1 График записей
%table
  %th
  %th Время
  %th Имя
  %th Процедуры
  %th Контактный телефон
  %th
  %th
  - @weekSchedule.keys.sort.each do |date|
    %tr
      %td{:nowrap => 'true'}
        %b= Russian::strftime(date, '%d %B')
    - @weekSchedule[date].sort_by{|record| record.record_time}.each do |record|
      %tr 
        %td
        %td= Russian::strftime(record.record_time, '%H:%M')
        %td= record.contact_name
        - procedure = Admin::Salon::Procedure.find(record.procedure)
        %td= procedure.name
        %td= record.contact_phone
        %td= link_to 'Отменить', admin_salon_record_path(record), method: :delete, data: { confirm: 'Вы уверены, что хотите отменить запись?' }
        %td= link_to 'Редактировать', edit_admin_salon_record_path(record), method: :get