= form_for @admin_salon_employee do |f|
  - if @admin_salon_employee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_salon_employee.errors.count, "error")} prohibited this admin_salon_employee from being saved:"
      %ul
        - @admin_salon_employee.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :position
    = f.text_field :position
  .field
    = f.label :specialization
    = f.select :specialization, Admin::Salon::Procedure.possible_groups
  .actions
    = f.submit 'Save'
