%p#notice= notice

%p
  %b First name:
  = @admin_salon_employee.first_name
%p
  %b Last name:
  = @admin_salon_employee.last_name
%p
  %b Position:
  = @admin_salon_employee.position

= link_to 'Edit', edit_admin_salon_employee_path(@admin_salon_employee)
\|
= link_to 'Back', admin_salon_employees_path
