= form_for [:admin, @promo_place], :html => {:class => "col_4 vertical"} do |form|
  = form.label :key, t("promo_place.key") + ": "
  = form.text_field :key

  = form.label :title, t("promo_place.title") + ": "
  = form.text_field :title

  = form.label :conditions, t("promo_place.conditions") + ": "
  = form.text_field :conditions

  = form.label :mime_whitelist, t("promo_place.mime_whitelist") + ": "
  = form.text_field :mime_whitelist

  = form.label :width, t("width")
  = form.text_field :width

  = form.label :height, t("height")
  = form.text_field :height

  = form.label :price_per_day, t("price_per_day")
  = form.text_field :price_per_day

  = form.submit t("promo_place.create")