- package_item = Distribution::PackageItem.find_by_item_id(order.id)
%tr
  %td
    = order.customer.display_name
  %td
    = link_to CGI.unescapeHTML(order.distributor.title), order.distributor.link
  %td
    - if package_item.nil?
      = hidden_field_tag :user, order.id
      = select_tag :barcode, options_from_collection_for_select(unused_barcodes, :id, :barcode_string), include_blank: true, class: 'select2'
    - elsif (package_item.pending?)
      = hidden_field_tag :order, order.id
      = select_tag :barcode, options_from_collection_for_select(unused_barcodes, :id, :barcode_string, package_item.barcode.value), include_blank: true, class: 'select2'
    - else
      = package_item.barcode.value
  %td
    - if package_item.nil?
      Не сдан в цр
    - else
      = t('distribution.item.states' + package_item.state)