%h4=point.title
%ul.left
  %li{class: (active == 'main' ? 'current' :'') }= link_to 'Главная', distribution_point_path(point)
  %li{class: (active == 'package_lists' ? 'current' :'') }= link_to 'Ведомости', distribution_point_package_lists_path(point)
  %li{class: (active == 'barcode_print' ? 'current' :'') }= link_to 'Печать штрих-кодов', new_distribution_barcode_path
  %li{class: (active == 'reception' ? 'current' :'') }= link_to 'Приход', distribution_point_reception_path(point)
  %li{class: (active == 'issue_package' ? 'current' :'') }= link_to 'Выдача заказа', distribution_point_issue_package_path(point)
