#fast-action-menu
  #deposit-form
    = form_tag distribution_point_deposit_path(@point), remote:true do
      .field
        - if @fast_action_context.present?  && @fast_action_context[:user].present?
          = hidden_field_tag :user_id, @fast_action_context[:user].id
          = @fast_action_context[:user].display_name
        - else
          = javascript 'admin/fast_action_menu'
          = hidden_field_tag :user_id, nil ,class: 'select_user_by_name'
      .field
        = label_tag :amount, 'Сумма'
        = number_field_tag :amount, 100, in:1..5000
      .actions
        = submit_tag 'Пополнить'
  %div.tab{data: {window: 'deposit-form'}}
    %i.icon-money.icon-2x

