<!DOCTYPE html>
%html
  %head
    %title Гипермаркет "Огромно"
    = stylesheet_link_tag "kickstart/kickstart.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic', :media => "all"
    = javascript_include_tag "kickstart/kickstart.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %style{:type => 'text/css'} * {box-sizing: border-box; -moz-box-sizing: border-box;-webkit-box-sizing: border-box}
  %body
    = render 'shared/header'
    #wrapper
      -if (flash[:success])
        %div{:class => 'notice success'}= flash[:success]
      -if (notice)
        %div{:class => 'notice warning'}= notice
      -if (alert)
        %div{:class => 'notice error'}= alert
      #main-data
        = yield
      #right-sidebar
      .clear

    = render 'shared/footer'
