<!DOCTYPE html>
%html
  %head
    %title Гипермаркет "Огромно"
    = stylesheet_link_tag 'application', :media => 'all'
    -#= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic', :media => "all"
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU'
    = yield(:head)
    = csrf_meta_tags
  %body{data: {controller: controller.controller_path, action: controller.action_name}}
    = render 'shared/header'
    - if current_user.present?
      #notifications-popup
        .triangle-up
        .clear
        .krutilka
        #notification-error.center
          %i.icon-4x.icon-remove-sign.red
          %p.text Произошла ошибка при загрузке уведомлений. Попробовать #{link_to 'еще?', main_app.user_notifications_path(current_user, unread: true), remote: true}
        #notification-list
        = link_to 'Показать все уведомления', main_app.user_notifications_path(current_user), id: 'all-notifications'
    #wrapper
      %div{style: 'position:absolute;bottom:0px;width:800px;'}
        -if (flash[:success])
          .notice.success
            %i.icon-ok.icon-large
            = flash[:success]
            %a.icon-remove{:href => '#close'}
        -if (notice)
          .notice.warning
            %i.icon-warning-sign.icon-large
            = notice
            %a.icon-remove{:href => '#close'}
        -if (alert)
          .notice.error
            %i.icon-remove-sign.icon-large
            = alert
            %a.icon-remove{:href => '#close'}
      #main-data
        = render 'shared/banners'
        = yield
      #right-sidebar
        - unless current_user.nil?
          %ul
            %li= link_to t('user.my_distribution_records'), get_package_path
            %li= link_to t('user.send_to_distribution'), main_app.distribution_show_orders_path
      .clear
    = render 'shared/footer'
