<!DOCTYPE html>
%html
  %head
    %title Гипермаркет "Огромно"
    -#= stylesheet_link_tag "kickstart/kickstart.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    -#= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic', :media => "all"
    -#= javascript_include_tag "kickstart/kickstart.js.bak"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %style{:type => 'text/css'} * {box-sizing: border-box; -moz-box-sizing: border-box;-webkit-box-sizing: border-box}
  %body
    = render 'shared/header'
    #wrapper
      -if (flash[:success])
        %div{:class => 'notice success'}
          = flash[:success]
          %a{:href => "#close", :class => "icon close", :data => {:icon => "x"}, :style => "display:inline-block;"}
      -if (notice)
        %div{:class => 'notice warning'}
          = notice
          %a{:href => "#close", :class => "icon close", :data => {:icon => "x"}, :style => "display:inline-block;"}
      -if (alert)
        %div{:class => 'notice error'}
          = alert
          %a{:href => "#close", :class => "icon close", :data => {:icon => "x"}, :style => "display:inline-block;"}
      #main-data
        = render 'shared/banners'
        = yield
      #right-sidebar
        %ul
          %li= link_to t("banner.my_banners"), banners_path
      .clear

    = render 'shared/footer'
